---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
---

<BaseLayout title="About | Hamunii" description="About Hamunii">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for checking this out! Here's some stuff about me :3"
			>
				<img
					width="1553"
					height="873"
					src="/assets/stock-1.jpg"
					alt="An abstract image."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a Finnish person living in Finland who does programming.
						And about programming, I'm pretty much entirely self-taught since there weren't really
						any opportunities to study anything computer science related, until University.
					</p>
					<br/>
					<p>
						I have always been fascinated by making computers do things before I even knew what
						programming was, and I've kept learning about programming ever since hearing about it.
						And I love programming because there's always something new to learn.
						In my free time I often like to learn about new technologies and concepts on YouTube
						so I'm more aware of what's out there.
					</p>
				</div>
				<h2 class="section-title">Programming</h2>
				<div class="content">
					<p>
						I do a lot of programming as a hobby, and most of it is related to modding games like
						Lethal Company. And as a result I've gotten very familiar with C# and .NET, including reading
						other people's code. And I do read a lot of code written by other people, so by this
						point I'm pretty good at it.
					</p>
					<br/>
					<p>
						As a result of modding and reverse engineering, I've started reading the source code of
						the tools I'm relying on to gain a much deeper understanding of everything, rather
						than just learning how the APIs work on the surface level. Sometimes I do it because I want to know why something
						is like it is, or maybe the information might be potentially useful later, or I'm just curious.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Collaboration</h2>
				<div class="content">
					<p>
						During my modding "journey", I've got to work with other developers on open source
						projects. I've learned a lot about best practices and how to properly do things,
						like properly structuring and configuring a C# project and using GitHub Actions for
						automating my mod uploads to services like Thunderstore for distributing my mods.
					</p>
					<br/>
					<p>
						I've also learned about making websites due to a need for a better place for a modding API's docs
						than GitHub's own wiki, which has its issues.
						And so I have experience with <a href="https://starlight.astro.build/">Astro Starlight</a>
						for documentation sites. And for this site, I used <a href="https://astro.build/">Astro</a>
						too as it seems nice. And I'm no web developer and the point of this site isn't to show my web development
						skills, so I did use a template, but I've put my personal touches to make it mine. One of them being this beautiful
						font (it's "Comic Neue").
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title" id="languages">Languages</h2>
				<Grid variant="small">
					{
						["C#", ".NET", "CIL"].map((tech) =>
						(
							<li class="mention-card-small accent-contrast">
								<p>{tech}</p>
							</li>
						))
					}
					{
						["Java", "F#", "C", "Python",
						"JavaScript", "TypeScript", "HTML", "CSS",].map((tech) =>
						(
							<li class="mention-card-small">
								<p>{tech}</p>
							</li>
						))
					}
				</Grid>
			</section>
			<section>
				<h2 class="section-title" id="tools">Tools</h2>
				<Grid variant="small">
					{
						["Linux", "VSCode"].map((tech) =>
						(
							<li class="mention-card-small accent-contrast">
								<p>{tech}</p>
							</li>
						))
					}
					{
						["Windows", "Git", "Unity", "Godot", "Neovim"].map((tech) =>
						(
							<li class="mention-card-small">
								<p>{tech}</p>
							</li>
						))
					}
				</Grid>
			</section>
			<section>
				<h2 class="section-title" id="stuff">Stuff</h2>
				<Grid variant="small">
					{
						["Googling", "Reading Docs", "Learning"].map((tech) =>
						(
							<li class="mention-card-small accent-contrast">
								<p>{tech}</p>
							</li>
						))
					}
				</Grid>
			</section>
			<section>
				<h2 class="section-title">Philosophy</h2>
				<div class="content">
					<p>
						I want to be proud of my own work, which I make for everyone.<br/>
						What I know, what I've learned along the way, it's something to be shared.
					</p>
					<br/>
					<p>
						I personally rely on free and open-source software.<br/>
						Even though I don't need to, I want to give back what I can.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	/* ====================================================== */

	.mention-card-small {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
		flex-basis: 10rem !important;
	}

	.accent-contrast {
		background: var(--gradient-accent-contrast);
	}

	@media (min-width: 50em) {
		.mention-card-small {
			border-radius: 1.5rem;
			height: 7rem;
		}
	}
</style>
